html {
    height: 100%;
}

body{
    background: white;
    height: 100%;
    display: grid;
    grid-template: 100% / 100%;
    justify-items: center;
    align-items: center;
}

.logo {
    height: 30%;
    width: 30%;
}